:root {
  --bodyBG: #caebff;
  --fontColor: #69c3f0;
  --navColor: #394867;
  --linkWeight: 100;
  --headingFamily: "Abril Fatface", serif;
  --fontFamily: "Lato", sans-serif;
}
/* body */

.banner {
  /* width: 100%; */
}
.banner img {
  margin-top: 10px;
  background-size: cover;
  width: 100vmax;
  height: 66vh;
  /* margin: 10px; */
}

/* cards  */

.cards {
  background-color: yellow;
  margin: 15px;
  width: 100vmax;
  height: 300px;
}

#card-container {
  width: 100vmax;
}
/* Footer */

footer {
  background-color: var(--navColor);
  /* border-radius: 10px; */
  width: 100vmax;
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer1 ul .mainLinst {
  line-height: 2.4rem;
  color: #4cc3ff;
  font-weight: var(--linkWeight);
  font-weight: 700;
}
footer .footer1 ul li {
  line-height: 1.5rem;
  color: var(--fontColor);
  list-style: none;
}
