  :root {
    --bodyBG: #caebff;
    --fontColor: #69c3f0;
    --navColor: #394867;
    --linkWeight: 100;
    --headingFamily: "Abril Fatface", serif;
    --fontFamily: "Lato", sans-serif;
  }
  /* body */

  .banner {
    /* width: 100%; */
  }
  .banner img {
    margin-top: 10px;
    background-size: cover;
    width: 100vmax;
    height: 66vh;
    /* margin: 10px; */
  }

  .container .row .col-4 {
    color: var(--fontColor) !important;
  }

  .text-dark {
      color: var(--navColor) !important;
  }


  .col-6 {
      /* background-color: red !important; */
      padding: 0px
      
  }

  .container {
    margin-top: 15px;
    display: flex !important;
    flex-wrap: wrap !important;
  }

  #card {
    width: 100vmax !important;
  }

  /* Footer */

  footer {
    background-color: var(--navColor);
    /* border-radius: 10px; */
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    footer .footer1 ul .mainLinst {
    line-height: 2.4rem;
    color: #4cc3ff;
    font-weight: var(--linkWeight);
    font-weight: 700;
  }
  footer .footer1 ul li {
    line-height: 1.5rem;
    color: var(--fontColor);
    list-style: none;
  }

