@media (200px < width < 499px) {
  nav .left, nav .right {
    display: none !important;
    height: 200px
  }
}
/* colorhunt: https://colorhunt.co/palette/1b262c0f4c753282b8bbe1fa */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap");

:root {
  --bodyBG: #caebff;
  --fontColor: #f1f6f9;
  --navColor: #394867;
  --linkWeight: 100;
  --headingFamily: "Abril Fatface", serif;
  --fontFamily: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  word-spacing: 0.5rem;
  line-height: 1.2rem;
  color: var(--fontColor);
  font-size: 1.1rem;
  font-family: var(--fontFamily);
  font-weight: 100;
}

/* bootstrap */
nav {
  background-color: red !important;
}

body {
  background-color: var(--bodyBG) !important;
}
a {
  text-decoration: none;
  font-weight: var(--linkWeight);
  font-family: var(--headingFamily);
}

nav {
  background-color: var(--navColor) !important;
  width: 100vmax;
  padding: 0.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left img {
  width: 2em;
}

nav .right ul {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  gap: 1em;
}
nav .right ul li {
  list-style: none;
}
